package ${classe.getPacote()}.${classe.getDominio().toLowerCase()}.dao;
#foreach ($import in $classe.getImports())
import $import;
#end
import ${classe.getPacote()}.${classe.getDominio().toLowerCase()}.model.${classe.getNome()};
import javax.persistence.EntityManager;
import javax.persistence.PersistenceContext;
import org.springframework.stereotype.Repository;
import org.springframework.transaction.annotation.Transactional;
import java.util.List;
import java.util.HashMap;
import java.util.Map;
/**
* @author alexandre.araujo
*/
@Repository
public class $classe.getNome()DAO{

${tab}@PersistenceContext()
${tab}private EntityManager manager;

${tab}public List<$classe.getNome()> get() {		
${tab}${tab}return manager.createQuery("From ${classe.getNome()} ${classe.getNomeAlias()} order by ${classe.getNomeAlias()}.${classe.getPrimaryKey().getColuna()} desc",${classe.getNome()}.class).getResultList();
${tab}}

#foreach ($campo in $classe.getAllCampos())  
#if($campo.getColuna()==$classe.getPrimaryKey().getColuna())  
${tab}public ${classe.getNome()} getBy$campo.getColunaCapitalize()($campo.getTipo() $campo.getColuna()){
${tab}${tab}return (${classe.getNome()}) ConexaoDB.getById(${classe.getNome()}.class,$campo.getColuna());
${tab}}
#else
${tab}@SuppressWarnings("unchecked")
${tab}public List<$classe.getNome()> getBy$campo.getColunaCapitalize()($campo.getTipo() $campo.getColuna()){		
${tab}${tab}Map<String,Object> params = new HashMap<String, Object>();
${tab}${tab}params.put("${campo.getColuna()}", ${campo.getColuna()});
${tab}${tab}return (List<$classe.getNome()>) ConexaoDB.get(${classe.getNome()}.class,true,1,100,params,ordemP);
${tab}}
#if($campo.getTipo()=="Date")
${tab}@SuppressWarnings("unchecked")
${tab}public List<${classe.getNome()}> getByPeriodo${campo.getColunaCapitalize()}(Date DtaI,Date DtaF){
${tab}${tab}DtaF.setTime(DtaF.getTime()+86399999L);
${tab}${tab}return (List<${classe.getNome()}>) ConexaoDB.getBetween(${classe.getNome()}.class,true,1,100,"${campo.getColuna()}",DtaI,DtaF,ordemP);
${tab}}
#end
#end

#end
#if ($classe.getTipo()!="view")
${tab}@Transactional
${tab}public boolean insert($classe.getNome() $classe.getNomeAlias()){
${tab}${tab}return ConexaoDB.insert($classe.getNomeAlias());
${tab}}
${tab}public boolean update($classe.getNome() $classe.getNomeAlias()){
${tab}${tab}return ConexaoDB.update($classe.getNomeAlias());
${tab}}
${tab}public boolean delete($classe.getNome() $classe.getNomeAlias()){
${tab}${tab}return ConexaoDB.delete($classe.getNomeAlias());
${tab}}
#end    
}