#set( $count = $classe.getAllCampos().size() )
var $classe.getNome() = new Class({
${tab}"Extends":ModWindow
#foreach ($campo in $classe.getAllCampos())
${tab},"$campo.getColuna()":null	 
#end
${tab},"initialize":function(){
${tab}${tab}this.parent("$classe.getNome()");
${tab}${tab}this.setRevision("$Revision: 1 $");		
#foreach ($campo in $classe.getAllCampos())		
#set( $campotuput = 'InputText("")' )
#if($campo.getTipo()=="Date")
#set( $campotuput = 'DatePicker()' )		#elseif($campo.getTipo()=="int"&&$campo.getColuna()!=$classe.getPrimaryKey().getColuna()&&!$campo.isFk())
#set( $campotuput = 'NumericStepper(0)' )
#elseif($campo.getLimite()>150)
#set( $campotuput = 'TextArea("")' )
#elseif($campo.isFk()&&$campo.getColuna()!=$classe.getPrimaryKey().getColuna())
#set( $campotuput = 'DataFind("'+${campo.getFkService()}+'")' )
#elseif($campo.getTipo()=="BigDecimal"||$campo.getTipo()=="float")
#set( $campotuput = 'InputMoney(0)' )
#end

${tab}${tab}this.it$campo.getColunaCapitalize() = new ${campotuput};
#if($campo.isFk()&&$campo.getColuna()!=$classe.getPrimaryKey().getColuna())
${tab}${tab}this.it${campo.getColunaCapitalize()}.setLabel("${campo.getFkService()}");	
#else
${tab}${tab}this.it${campo.getColunaCapitalize()}.setColumn("${campo.getColuna()}@it${campo.getColunaCapitalize()}");
${tab}${tab}this.it${campo.getColunaCapitalize()}.setLabel("${campo.getDsCampo()}");
#if($campo.getColuna()==$classe.getPrimaryKey().getColuna())
${tab}${tab}this.it${classe.getPrimaryKey().getColunaCapitalize()}.setEnable(false);	
#end
#end
${tab}${tab}this.it${campo.getColunaCapitalize()}.setSize(2);	
#end		
		
${tab}${tab}this.mainList = new ListView("$classe.getNome()");
${tab}${tab}this.setMainList("mainList");
${tab}${tab}this.tbMain = new ToolBar({"domain":"${classe.getNome().toLowerCase()}.business.${classe.getNome()}BLL"});		
${tab}}
${tab},"getBy${classe.getPrimaryKey().getColunaCapitalize()}":function(p_${classe.getPrimaryKey().getColuna()}){
${tab}${tab}rm.addRequest({
${tab}${tab}${tab}"puid":this.getVarModule()
${tab}${tab}${tab},"s":"codigogerador.business.TabelaBLL.get"
${tab}${tab}${tab},"p":p_${classe.getPrimaryKey().getColuna()}
${tab}${tab}${tab},"onLoad":function(dta){
${tab}${tab}${tab}${tab}${classe.getNome().toLowerCase()}.mainList.setDataProvider(dta.rs).refresh();
${tab}${tab}${tab}${tab}${classe.getNome().toLowerCase()}.tbMain.turnOnItemChangeEvent();
${tab}${tab}${tab}}
${tab}${tab}}); 
${tab}}
});

