var mongoose = require("mongoose");
module.exports = function(){
${tab}var schema = mongoose.Schema({	

#foreach ($campo in $classe.getAllCampos())
${tab}${tab},"${campo.getColuna()}":{
${tab}${tab}${tab}type:#if($campo.getTipo()=="int")
Number
#else
$campo.getTipo()
#end
${tab}${tab}${tab},required:true
${tab}${tab}}	 
#end
${tab}});
${tab}return mongoose.model("${classe.getNome()}",schema);
};