#set( $count = 0 )
export interface I${classe.getNome()}{
#foreach ($campo in $classe.getAllCampos())
	${campo.getColuna()}:#if($campo.getTipo()=="int"||$campo.getTipo()=="float")number;#elseif($campo.getTipo()=="Date")Date;#else${campo.getTipo().toLowerCase()};#end

#end
}