<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">jdbc:mysql://localhost:3311/ata3_prd</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">blu3</property>
    <!-- comeco turbinacao -->
    <!--
    <property name="hibernate.connection.autocommit">true</property>
    -->
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
    <!-- Use the C3P0 connection pool provider -->
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">10</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_periods">3000</property>
   
    <!-- configuracoes extras
    <property name="hibernate.default_batch_fetch_size">50</property>
    <property name="hibernate.jdbc.batch_size">50</property>
    <property name="hibernate.c3p0.acquire_increment">2</property>
	-->
    <!-- fim turbinacao -->
    
    
	
	<mapping class="br.net.underdesk.codigogerador.model.Tabela"/>
	<mapping class="br.net.underdesk.codigogerador.model.TabelaCampo"/>
  </session-factory>
</hibernate-configuration>